//- for svg insert into page
mixin icon(name,width,height,mod)
	- width = width || '20'
	- height = height || '20'
	- mod = mod || ''
	- viewW = viewW || ''
	- viewH = viewH || ''
	svg(class="icon " + name +' '+ mod, width= ''+ width +'' height=''+ height +'' aria-hidden="true" role="presentation" )
		use(xlink:href="images/sprites.svg#" + name, class="users")
//-for blocks thatr same verticalm stracture
mixin vBricks(header,descript)
	div.brick
		div.brick__item_first
			h3= header
		div.brick__item_second
			p= descript

mixin partner(logo, descript)
	img(src="images/svg/" + logo, alt=""+descript)
mixin first(styler)
	doctype html
	html(lang="ru-RU")
		head
			meta(charset="utf-8")
			title #{title}
			<!--[if IE]>
			meta(http-equiv='X-UA-Compatible', content="IE = edge")
			<![endif]-->
			meta(name="viewport" content="width=device-width,initial-scale=1")
			meta(name="keywords" content="")
			meta(name="apple-mobile-web-app-status-bar-style" content="#4285f4")

			//- link(rel="stylesheet", type='text/css', href="static/css/normmalize.css")
			link(rel="stylesheet", type='text/css', href="static/css/" + styler + ".css")


			//-favicon meta-link
			link(rel="apple-touch-icon" sizes="180x180" href="../../static/images/favicon/apple-touch-icon.png")
			link(rel="icon" type="image/png" sizes="32x32" href="../../static/images/favicon/favicon-32x32.png")
			link(rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon/favicon-16x16.png")
			//- link(rel="manifest" href="../../static/images/favicon/site.webmanifest")
			link(rel="mask-icon" href="../../static/images/favicon/safari-pinned-tab.svg" color="#5bbad5")
			meta(name="msapplication-TileColor" content="#da532c")
			meta(name="theme-color" content="#ffffff")

		body(class=pageClass)

mixin stats(head,number,descript,image,percent,width,height)
	- percent = percent || ''
	.stat
		.stat__descript
			h3.stat__header= head
			p.stat__number= number
			.stat__descript-number= descript
				span.stat__percent= percent
		.stat__show
			+icon(image, '','', 'stat__image', ''+ width +'', ''+ height +'')
			a(href="#", title="title").stat__link Show more
				span.stat__link--row
					+icon('show-more', '0.6rem', '0.6rem')

mixin freshNews(freshHead,datetime,timetext,watch,image,text)
	-image = image || '#'
		.fresh-news
			.fresh-news__image
				img(src=''+ image +'', alt="")
			h5.fresh-news__head=freshHead
			.fresh-news__views
				time(datetime=''+ datetime +'').fresh-news__time= timetext
				.fresh-news__views-number
					span
						+icon('eye', '1rem', '0.7rem', '')
						=watch
		p.fresh-news__text=text


mixin freshVideo(freshHead,datetime,timetext,watch,source,time)
	-source = source || '#'
		.fresh-video
			.fresh-video__image
				video(src=''+ source +'', alt="")
				time.fresh-video__time-view=time
			h5.fresh-video__head=freshHead
			.fresh-video__views
				time(datetime=''+ datetime +'').fresh-video__time= timetext
				.fresh-video__views-number
					span
						+icon('eye', '1rem', '0.7rem', '')
						=watch
